@model Application.DTOs.ClienteDto

@{
    ViewBag.Title = "Cadastrar Cliente";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Create", "Cliente", FormMethod.Post, new { onsubmit = "return validarTelefonesAntesDeEnviar();" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label for="Nome">Nome:</label>
        @Html.TextBoxFor(m => m.Nome, new { @class = "form-control", id = "Nome" })
        @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label>Sexo:</label>
        @Html.DropDownListFor(m => m.Sexo, new SelectList(
        new List<SelectListItem>
        {
           new SelectListItem { Text = "Masculino", Value = "Masculino" },
           new SelectListItem { Text = "Feminino", Value = "Feminino" },
           new SelectListItem { Text = "Outro", Value = "Outro" }
        }, "Value", "Text"), new { @class = "form-control", id = "Sexo" })
        @Html.ValidationMessageFor(model => model.Sexo, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label for="Endereco">Endereço:</label>
        @Html.TextBoxFor(m => m.Endereco, new { @class = "form-control", id = "Endereco" })
    </div>

    <div class="form-group">
        <label>Telefones:</label>
        <div id="telefones-container">
            <input type="text" name="Telefones" class="form-control mb-2" />
        </div>
        <button type="button" class="btn btn-outline-primary btn-sm" onclick="adicionarTelefone()" style="margin-top:10px">
            <i class="bi bi-plus-lg"></i> Adicionar
        </button>
    </div>

    <button type="submit" class="btn btn-primary">Confirmar</button>

    @section scripts {
        <script src="~/Content/js/cliente-form.js"></script>
    }
}