<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Odontoclinic - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="@Url.Action("Index", "Cliente")" style="display: flex; align-items: center;">
                    <img src="~/Content/Assets/img/logo512.png" alt="Odontoclinic" style="height: 30px; display: inline-block; vertical-align: middle; margin-right: 5px;" />
                    OdontoClinic
                </a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="display: flex; align-items: center;">
                    <li>@Html.ActionLink("Clientes Cadastrados", "Index", "Cliente")</li>
                    <li>@Html.ActionLink("Cadastrar", "Create", "Cliente")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - <strong>Desenvolvido por: <a href="https://www.linkedin.com/in/marcelolima11/" rel="external" target="_blank">/MarceloLima11</a></strong></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
